################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SDLC/CopilotIndices/17.14.1290.42047
/.vs/SDLC/FileContentIndex
/.vs/SDLC/v17
/.vs
