<style type="text/css">

    .site-footer {
        font-family: "Open Sans", "Verdana", "Helvetica", "Arial", sans-serif;
        line-height: 1.5;
        color: var(--colour-text);
        box-sizing: inherit;
        display: block;
        text-align: center;
    }

    .footer-body {
        font-family: "Open Sans", "Verdana", "Helvetica", "Arial", sans-serif;
        line-height: 1.5;
        color: var(--colour-text);
        text-align: center;
        box-sizing: inherit;
        margin-top: 0;
        width: 100%;
        font-size: 14px;
        padding: 4px;
        background-color: var(--colour-contrast-medium);
    }

    .footer-item {
        font-family: "Open Sans", "Verdana", "Helvetica", "Arial", sans-serif;
        line-height: 1.5;
        color: var(--colour-text);
        text-align: center; 

        
        font-size: 14px;
        box-sizing: inherit;
        border-right-color: var(--colour-contrast-lower) !important;
        border-bottom-color: var(--colour-contrast-lower) !important;
        display: inline;
        border-right: 1px solid;
        padding: 2px 16px;
        margin: 16px 0;
    }

    .copyright {
        font-family: "Open Sans", "Verdana", "Helvetica", "Arial", sans-serif;
        line-height: 1.5;
        text-align: center;
        box-sizing: inherit;
        font-size: 0.75rem;
        margin-top: 8px;
        color: hsl(var(--colour-text-h), var(--colour-text-s), calc(var(--colour-text-l) * 1.25));
    }

</style>



<footer id="footer" class="site-footer" tabindex="-1">

    {%- include social.html -%}

  <section class="footer">
    <ul class="footer-body">
      <li class="footer-item"><a href="https://qed.qld.gov.au/copyright-statement" alt="Copyright" target="_blank">Copyright</a></li>
      <li class="footer-item"><a href="https://qed.qld.gov.au/disclaimer/" alt="Disclaimer" target="_blank">Disclaimer</a></li>
      <li class="footer-item"><a href="https://www.qld.gov.au/legal/privacy" alt="Privacy" target="_blank">Privacy</a></li>
      <li class="footer-item"><a href="https://qed.qld.gov.au/about-us/rti" alt="Right to information" target="_blank">Right to information</a></li>
      <li class="footer-item"><a href="https://www.qld.gov.au/help/accessibility" alt="Accessibility" target="_blank">Accessibility</a></li>
      <li class="footer-item"><a href="https://smartjobs.qld.gov.au" alt="Jobs in Queensland Government" target="_blank">Jobs in Queensland Government</a></li>
      <li class="footer-item"><a href="https://www.qld.gov.au/help/languages" alt="Other languages" target="_blank">Other languages</a></li>
    </ul>
  </section>

  <div class="copyright">
      <p>© The State of Queensland (Department of Education) 2025</p>
      <p><a href="https://www.qld.gov.au" target="_blank">Queensland Government</a></p>
  </div>

</footer>