<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://developer.qed.qld.gov.au/assets/css/main.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/skins/default.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i|Roboto:100,300|Esteban:400,400i,700,700i">
  {%- feed_meta -%}
  {%- include custom-head.html -%}
</head>
